@import '../../../styles/colors.scss';
:host ::ng-deep .ui-progressbar-value {
  background-color: $primary;
}

#container{
  height: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
    form {
      padding: 48px 40px 36px;
      #header {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        span {
          font-size: 28px;
          color: $grey;
        }
      }
      #form-container {
        width: 500px;
        display: flex;
        flex-direction: column;
        mat-form-field {
          margin-bottom: 7px;
        }
        .btnBox {
          display: flex;
          justify-content: center;
          button {
            margin: 0 3px;
            font-weight: 600;
          }
        }
      }
    }
    .additionalLink {
      display: flex;
      justify-content: center;
      padding: 10px;
      color: $primary-light;
      cursor: pointer;
    }
  .white {
    color: white;
  }
}
