@import './material-theme.scss';
@import '~@angular/material/theming';

$primary: mat-color($my-app-primary, 500);
$warn: mat-color($my-app-warn);
$warn-light: #ff6c61;
$warn-very-light: #ffebee;
$primary-light: #8bc34a;
$primary-very-light: #c2e697;
$primary-gradient: #a3d26c;
$grey: #666;
$grey-light: #bdbdbd;
// $primary-ultra-light: $primary * 1.4;

// $accent: rgb(22, 128, 214);

// $header: mat-color($my-app-primary, 900);

// $white: #f6f6f6;
// $white-dark: $white * 0.9;

// $grey: #aaa;
// $grey-dark: $grey * 0.8;
// $grey-ultra-dark: $grey * 0.5;
// $grey-light: #f0f0f0;
// $grey-ultra-light: $grey * 1.4;

// $black: #222;
// $menuBlack: #4a4a4a;

// $grey-transparent: rgba($grey, 0.2);
// $white-transparent: rgba($white, 0.2);
