@import './material-theme.scss';
@import '~@angular/material/theming';

$primary: mat-color($my-app-primary, 500);
$warn: mat-color($my-app-warn);
$warn-light: #ff6c61;
$warn-very-light: #ffebee;
$primary-light: #8bc34a;
$primary-very-light: #c2e697;
$primary-gradient: #a3d26c;
$grey: #666;
$grey-light: #bdbdbd;
