$devbricks-default-light: (
    50 : #a5f6fc,
    100 : #bde9f7,
    200 : #91dbf2,
    300 : #65cded,
    400 : #44c2e9,
    500 : #23b7e5,
    600 : #1fb0e2,
    700 : #1aa7de,
    800 : #159fda,
    900 : #0c90d3,
    A100 : #feffff,
    A200 : #cbecff,
    A400 : #98d9ff,
    A700 : #7fd0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

