<div id="container">
  <p-progressBar mode="indeterminate" *ngIf="loader === true"></p-progressBar>
  <form #pass="ngForm" (ngSubmit)=onSubmit(pass) [formGroup]="passwordForm">
    <div id="header">
      <span>
        Nowe hasło</span>

    </div>
    <div id="form-container">
      <mat-form-field>
        <input matInput  placeholder="Hasło" type="password" formControlName="password">
        <mat-error *ngIf="inputError(password)">{{passwordErrorStr}}</mat-error>
      </mat-form-field>

      <div class="btnBox">
        <button class="white" mat-raised-button color="primary" type="submit">Zmień</button>
      </div>
    </div>
  </form>
</div>
