#auth-container {
  width: 100%;
  #info {
    height: 160px;
    width: 100%;
    background: url(./../../assets/1920-156.jpg) no-repeat center;
    #background {
      height: 100%;
      width: 100%;
      background: rgba(58, 61, 65, 0.8);
      font-weight: 700;
      color: #fff;
      line-height: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: 'Raleway', sans-serif;
      font-size: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-left: 25px;
        margin-bottom: 30px;
      }
    }
  }

  #login-container {
    margin: 50px auto;
    position: relative;
    width: 580px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    #centered-container {
      // margin: 50px auto;
      // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      //   0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      width: 580px;
      // min-height: 200px;
      //  max-height: 1000px;
      position: relative;
      z-index: 2;
      overflow: hidden;
    }
  }
}
:host {
  display: flex;
  height: 100%;
  width: 100%;
}
