@import '../../../../../../styles/colors.scss';

#send-survey-container {
  width: 700px;
  #header {
    background-color: $primary;
    padding: 25px;
    text-align: center;
    color: white;
    height: 40px;
    line-height: 40px;
  }
  #content-container {
    text-align: center;
    form {
      #form-container {
        padding: 30px;
        #button-container {
          padding: 20px;
          button {
            background-color: $primary;
            color: white;
            #button {
              display: flex;
              span {
                margin-right: 5px;
              }
              p-progressSpinner {
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}
