@import './../../../../../../../styles/colors.scss';

#searchBar {
  height: 100%;
  margin: 0;
  mat-toolbar {
    background-color: white;
    font-size: 0.9em;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    #icon-container {
      margin-right: 16px;
    }
    input {
      background-color: rgba(#000000, 0);
      border: none;
      font-size: 1em;
    }
    input:focus {
      outline: none;
    }
    .icon {
      padding-right: 7%;
      cursor: pointer;
    }
    #clear {
      margin-left: -10px;
      z-index: 999;
    }
  }
}
