@import './../../../styles/colors.scss';
form {
  padding: 28px 40px 36px;
  #header {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    span {
      font-size: 28px;
      color: $grey;
    }
  }
  #form-container {
    width: 500px;
    .group {
      padding: 5px 10px;
      float: left;
      mat-form-field {
        // margin: 0px 5px 7px 5px;
        width: 100%;
        flex-direction: row;
      }
    }
    .full {
      width: 94%;
    }
    .half {
      width: 45%;
    }
    #button-container {
      padding: 20px;
      display: flex;
      justify-content: center;
      button {
        background-color: $primary;
        color: white;
        #button {
          display: flex;
          span {
            margin-right: 5px;
          }
          p-progressSpinner {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
