:host {
  width: 100%;
}
.surveyBox {
  user-select: none;
  .info {
    padding: 3px;
  }
}
// .nosurveys {
//   padding: 20px;
//   display: flex;
//   justify-content: center;
//   font-size: 18px;
//   color: Gray;
// }
