<div id="container">
  <p-progressBar mode="indeterminate" *ngIf="loading === true"></p-progressBar>
  <form #reg="ngForm" [formGroup]="regForm">
    <div id="header">
      <span id="signup">
        Zarejestruj się</span>
      <!-- <span> {{regForm.value | json }}</span> -->
      <div id="profiles-container">
        <span id="profile-info">Wybierz swój profil</span>
        <div id="profiles">
          <div class="profile" *ngFor="let profile of profiles" class=" cc-selector">
            <input id="{{profile.value}}" type="radio" formControlName="profileName" value="{{profile.value}}" (focus)="hide(profile.value)">
            <label for="{{profile.value}}" class="{{profile.value}} card-cc" matTooltip="{{profile.message}}"
              matTooltipPosition="below">
              <fa-icon [icon]="['fas', profile.icon]"></fa-icon>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div id="register-container">
      <div id="form-container">
        <div id="regErr">
          <mat-error *ngIf=registrationError>{{registrationErrorMessage}}</mat-error>
        </div>
        <!-- <div class="group half"> -->
        <!-- <div class="field right"> -->
        <div class="group half">
          <mat-form-field>
            <input matInput autocomplete="given-name" placeholder="Name" type="text" id="name" formControlName="name"
              (focus)="onFocus(name)" (blur)="onBlur(name)" autofocus>
            <mat-error *ngIf="inputError(name)">{{nameErrorStr}}</mat-error>
          </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- <div class="field"> -->
        <div class="group half">
          <mat-form-field>
            <input matInput autocomplete="family-name" placeholder="Last name" type="text" id="lastName"
              formControlName="lastName" (focus)="onFocus(lastName)" (blur)="onBlur(lastName)">
            <mat-error *ngIf="inputError(lastName)">{{lastNameErrorStr}}</mat-error>
          </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- </div> -->
        <!--   <div class="group half"> -->
        <!-- <div class="field right"> -->
        <div [ngClass]="(profileName.value === 'Graduate')?'group half':'group full'">
          <mat-form-field>
            <input matInput autocomplete="email" placeholder="E-mail" type="text" id="email" formControlName="email"
              (focus)="onFocus(email)" (blur)="onBlur(email)">
            <mat-error *ngIf="inputError(email)">{{emailErrorStr}}</mat-error>
          </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- <div class="field"> -->
        <div class="group half" *ngIf="profileName.value === 'Student'">
          <mat-form-field>
            <input matInput placeholder="Nr Albumu" type="text" id="albumID" formControlName="albumID" (focus)="onFocus(albumID)"
              (blur)="onBlur(albumID)">
            <mat-error *ngIf="inputError(albumID)">{{albumIDErrorStr}}</mat-error>
          </mat-form-field>
        </div>
        <div class="group half">
          <mat-form-field>
            <input matInput autocomplete="tel" placeholder="Nr telefonu" type="tel" name="number" id="phoneNum"
              formControlName="phoneNum" (focus)="onFocus(phoneNum)" (blur)="onBlur(phoneNum)">
            <mat-error *ngIf="inputError(phoneNum)">{{phoneNumErrorStr}}</mat-error>
          </mat-form-field>
        </div>
        <div class="group half" *ngIf="profileName.value === 'Employer'">
          <mat-form-field>
            <input matInput autocomplete="org" placeholder="Nazwa firmy  / organizacji" type="text" id="companyName"
              formControlName="companyName" (focus)="onFocus(companyName)" (blur)="onBlur(companyName)">
            <mat-error *ngIf="inputError(companyName)">{{companyNameErrorStr}}</mat-error>
          </mat-form-field>
        </div>
        <div class="group half" *ngIf="profileName.value === 'Employer'">
          <mat-form-field>
            <input matInput placeholder="Lokalizacja" type="text" id="location" formControlName="location" (focus)="onFocus(location)"
              (blur)="onBlur(location)">
            <mat-error *ngIf="inputError(location)">{{locationErrorStr}}</mat-error>
          </mat-form-field>
        </div>
        <div class="group half" *ngIf="profileName.value === 'Employer'">
          <mat-form-field>
            <input matInput placeholder="Opis Firmy" type="text" id="companyDescription" formControlName="companyDescription"
              (focus)="onFocus(companyDescription)" (blur)="onBlur(companyDescription)">
            <mat-error *ngIf="inputError(companyDescription)">{{companyDescriptionErrorStr}}</mat-error>
          </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="group half"> -->
        <!-- <div class="field right"> -->
        <div class="group half">
          <mat-form-field>
            <input matInput placeholder="Password" type="password" id="password" formControlName="password" (focus)="onFocus(password)"
              (blur)="onBlur(password)" (keydown)="clearPasswordConfirm()">
            <mat-error *ngIf="inputError(password)">{{passwordErrorStr}}</mat-error>
          </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- <div class="field"> -->
        <div class="group half">
          <mat-form-field>
            <input matInput placeholder="Confirm password" type="password" id="passwordConfirm" formControlName="passwordConfirm"
              (focus)="onFocus(passwordConfirm)" (blur)="onBlur(passwordConfirm)">
            <mat-error *ngIf="passwordNoMatch(reg) || inputError(passwordConfirm)">{{passwordConfirmErrorStr}}</mat-error>
          </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- </div> -->


      </div>
      <div class="btnBox">
        <button type="button" class="white" mat-raised-button color="primary" (click)=onSubmit(reg)>Rejestracja</button>
      </div>
      <div class="additionalLink" [routerLink]="['/auth/login']" routerLinkActive="active">Posiadasz już konto?</div>
    </div>
  </form>
</div>
<!-- </div>
</div> -->
