<div id="container">
  <p-progressBar mode="indeterminate" *ngIf="loading === true"></p-progressBar>
  <form #pass="ngForm" (ngSubmit)=onSubmit(pass) [formGroup]="passForm">
    <div id="header">
      <span>
        Zmień hasło</span>

    </div>
    <div id="form-container">
      <mat-form-field>
        <input matInput autocomplete="email" placeholder="Email" type="email" formControlName="email">
        <mat-error *ngIf="inputError(email)">{{emailErrorStr}}</mat-error>
      </mat-form-field>

      <div class="btnBox">
        <button class="white" mat-raised-button color="primary" type="submit">Dalej</button>
        <button mat-raised-button type="button" [routerLink]="['/auth/login']" routerLinkActive="active">Wróć</button>
      </div>
    </div>
  </form>
</div>
