@import './../../../../styles/colors.scss';

#manageBar {
  z-index: 30;
  padding: 20px 30px;
  height: 40px;

  #container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    #workspace {
      display: flex;
      align-items: center;
      #workspace-name {
        font-size: 20px;
        line-height: 28px;
        margin-right: 25px;
      }
      #searchBar {
        height: 100%;
        margin: 0;
        mat-toolbar {
          background-color: white;
          font-size: 0.9em;
          height: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, 0.09);
          #icon-container {
            margin-right: 16px;
          }
          input {
            background-color: rgba(#000000, 0);
            border: none;
            font-size: 1em;
          }
          input:focus {
            outline: none;
          }
          .icon {
            padding-right: 7%;
            cursor: pointer;
          }
          #clear {
            margin-left: -10px;
            z-index: 999;
          }
        }
      }
    }
    #buttonsContainer {
      height: 100%;
      display: flex;

      .element {
        background-color: $primary;
        .icon {
          color: white;
          font-size: 1em;
        }

        .txt {
          color: white;
          font-size: 1em;
          margin-left: 6px;
        }
      }
    }
  }
}

.mat-menu-item .icon {
  padding-right: 3px;
}
.mat-menu-item {
  color: #666666 !important;
  font-size: 13px !important;
  padding: 0 10px !important;
  height: 30px !important;
  line-height: 30px !important;
}
.mat-menu-content {
  padding: 0 !important;
}
.mat-menu-panel {
  min-width: 20px !important;
}
