@import '../../../styles/colors.scss';

.tab-name,
mat-icon {
  font-size: 21px;
  font-weight: 600;
}
#settings-container {
  #profile-info {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-image: linear-gradient(45deg, #75a53e, $primary-gradient);
    #avatar-field {
      display: inline-flex;
      #avatar {
        img {
          object-fit: cover;
          user-select: none;
          width: 72px;
          height: 72px;
          margin: 5px;

          border-radius: 50%;
          border: 3px solid white;
        }
      }
      #avatar-info {
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.85);
        line-height: 28px;
        #name {
          margin: 0;
          font-size: 18px;
          font-weight: 600;
        }
        #degree-info {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
}
mat-icon {
  margin-right: 5px;
}
