@import './../../../styles/colors.scss';
#survey-module {
  width: 100%;
  height: 100%;
  #wrapper {
    height: 100%;
    #sidenav {
      overflow-x: hidden;
      display: grid;
      grid-template-rows: 0 40px auto;
      grid-template-columns: 250px;
      border-right: 1px solid rgba(0, 0, 0, 0.09);
      app-survey-search {
        grid-column: 1;
        grid-row: 1;
      }
      app-dashboard-sidebar {
        grid-column: 1;
        grid-row: 2;
      }
    }
    #content {
      display: grid;
      grid-template-rows: 0 80px auto;
      grid-template-columns: 100%;
      app-survey-list {
        overflow-y: auto;
        padding: 0 30px 20px 30px;
      }
      #mailSpace {
        overflow-y: auto;
        position: relative;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 1100px) {
  #survey-module {
    #mailSpace {
      overflow-y: auto;
    }
    #wrapper {
      #content {
        #mailSpace {
          grid-column: 2;
        }
      }
    }
  }
}
@media (max-width: 660px) {
  #survey-module {
    #wrapper {
      #content {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        #mailSpace {
          grid-column: 1 / span 2;
          grid-row: 2;
          background-color: white;
        }
      }
    }
  }
}
