<div id="container">
  <form #reg="ngForm" [formGroup]="regForm">
    <div id="register-container">
      <div id="form-container">
        <mat-accordion>

          <mat-expansion-panel *ngIf="profileType === 'student'">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Kierunek studiów
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <mat-form-field>
                <mat-select placeholder="Wybierz kierunek" formControlName="degree">
                  <mat-option *ngFor="let degree of degrees" [value]="degree.value" (click)="setMajorDropdown(degree.value)">
                    {{degree.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Wybierz specjalizację" formControlName="major">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let major of majorsDropdown" [value]="major.value">
                    {{major.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="profileType === 'student'">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tryb i rok studiów
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <mat-form-field>
                <mat-select placeholder="Wybierz tryb" formControlName="mode">
                  <mat-option *ngFor="let mode of studyModes" [value]="mode.value">
                    {{mode.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Wybierz semestr rozpoczęcia" formControlName="initialSemester">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let semester of initialSemesters" [value]="semester.value">
                    {{semester.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Wybierz rok" formControlName="year">
                  <mat-option>--</mat-option>
                  <span *ngIf="degree.value === 'management' || degree.value === 'finances' ">
                    <mat-option *ngFor="let year of studyYears2" [value]="year.value">
                      {{year.value}}
                    </mat-option>
                  </span>
                  <span *ngIf="degree.value === 'IT'">
                    <mat-option *ngFor="let year of studyYears" [value]="year.value">
                      {{year.value}}
                    </mat-option>
                  </span>

                </mat-select>
              </mat-form-field>
            </ng-template>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
      <div class="btnBox">
        <button type="button" class="white" mat-raised-button color="primary" (click)=onSubmit(reg)>Zapisz</button>
      </div>
    </div>
  </form>
</div>
