@import '../../../../styles/colors.scss';

:host ::ng-deep .mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  width: 50% !important;
  flex-grow: 1 !important;
}

#container {
  display: flex;
  justify-content: center;
  .progressBar {
    height: 6px;
  }
  form {
    padding: 28px 40px 36px;
    margin: 28px;
    width: 750px;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    //   0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    #register-container {
      display: flex;
      flex-direction: column;
      #form-container {
        #regErr {
          padding: 5px;
          margin-bottom: 5px;
        }
      }
      .btnBox {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        button {
          margin: 0 3px;
          font-weight: 600;
        }
      }
      .white {
        color: white;
      }
    }
  }
}
#change-password {
  cursor: pointer;
}
