<div id="dashboard">
  <div id="bar">
    <app-bar
      [toolTipInfo]="toolTipInfo"
      [isLogged]="isLogged$ | async"
      [isPreview]="isPreview$ | async"
      [accountRole]="accountRole$ | async"
      [showCreatorButton]="showCreatorButton$ | async"
      [showSendButton]="showSendButton$ | async"
      [showAdmin]="showAdminMenu$ | async"
      [showToggleButton]="showToggleButton$ | async"
      [showBackButton]="showBackButton$ | async"
      [showUserInfo]="showUserInfo$ | async"
      (showSurveyButton)="showSurvey()"
      (openSidebarButton)="openSidebar()"
      [profileName]="profileData$ | async"
      (redirectToButton)="redirectTo($event)"
      (sendSurveyDialog)="sendSurvey()"
      (logout)="logout()"
    ></app-bar>
  </div>
  <mat-sidenav-container id="wrapper" hasBackdrop="false">
    <mat-sidenav
      id="sidenav"
      #sidenav
      [mode]="'side'"
      [(opened)]="isSidebarOpened"
    >
    </mat-sidenav>
    <mat-sidenav-content id="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
