@import './../../../../../../../styles/colors.scss';

#catalogs {
  height: 100%;
  user-select: none;
  #add-container {
    padding: 20px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #add-name {
      font-size: 13px;
      line-height: 18px;
      font-weight: 700;
      color: #4c4c4c;
    }
    #icon {
      cursor: pointer;
    }
  }
  #list {
    padding-left: 0;
    .loop {
      padding: 10px 15px;
      list-style: none;
      .name {
        font-size: 13px;
        padding-left: 15px;
      }
    }
    .loop:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
  }
}
