<div id="container">
  <p-progressBar mode="indeterminate" *ngIf="loading === true"></p-progressBar>
  <form #res="ngForm" (ngSubmit)=onSubmit(res) [formGroup]="passwordForm">
    <div id="header">
      <span>
        Zmień hasło</span>

    </div>
    <div id="form-container">
      <div id="logErr">
        <mat-error *ngIf=loginError>{{loginErrorMessage}}</mat-error>
      </div>

      <mat-form-field>
        <input matInput autocomplete="current-password" placeholder="stare hasło" type="password" id="oldPassword"
          (focus)="onFocus(oldPassword)" (blur)="onBlur(oldPassword)" autofocus formControlName="oldPassword">
        <mat-error *ngIf="inputError(oldPassword)">{{oldPasswordErrorStr}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="nowe hasło" type="password" formControlName="newPassword" (focus)="onFocus(newPassword)"
          (blur)="onBlur(newPassword)">
        <mat-error *ngIf="inputError(newPassword)">{{newPasswordErrorStr}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="powtórz hasło" type="password" formControlName="confirmPassword" (focus)="onFocus(confirmPassword)"
          (blur)="onBlur(confirmPassword)">
        <mat-error *ngIf="passwordNoMatch(res) || inputError(confirmPassword)">{{confirmPasswordErrorStr}}</mat-error>
      </mat-form-field>

      <div class="btnBox">
        <button class="white" mat-raised-button color="accent" type="submit">Logowanie</button>
      </div>

    </div>
  </form>
</div>