<div id="bar" #nav>
  <div id="container">
    <div class="sideButton" (click)="backTo()" *ngIf="showBackButton === true">
      <fa-icon [icon]="['fas','arrow-left']" matTooltip="{{toolTipInfo.main}}" matTooltipPosition="below"></fa-icon>
    </div>
    <div id="logo">
      <img src={{logoIMG}} alt="logo WSEI">
    </div>
    <div id="preview" *ngIf="isPreview">PODGLĄD</div>
  </div>
  <ul class="menu" *ngIf="isLogged === false">
    <li class="menu-item" [routerLink]="['/auth/login']">Logowanie</li>
  </ul>
  <div id="profile-container" *ngIf="isLogged === true" [ngSwitch]="accountRole">
    <div id="career-offices" *ngSwitchCase="'careerOffice'">
      <ul class="menu" *ngIf="showAdmin === true">
        <li class="menu-item" [matMenuTriggerFor]="surveyInfo" #surveyTrigger="matMenuTrigger">Ankiety</li>
        <li class="menu-item" (click)="redirectTo('users')">Użytkownicy</li>
      </ul>
      <div id="survey-buttons">
        <fa-icon [icon]="['far', 'eye']" *ngIf="showCreatorButton === true" matTooltip="{{toolTipInfo.show}}"
          matTooltipPosition="below" (click)="showSurvey()"></fa-icon>
        <app-progress-button *ngIf="showCreatorButton === true" [buttonText]="buttonText" [loader]=isLoading (buttonClick)=sendSurvey()></app-progress-button>
      </div>
    </div>
    <div id="userInfo" class="clickable" [matMenuTriggerFor]="userInfo" #menuTrigger="matMenuTrigger" *ngIf="showUserInfo === true">
      <img src={{profileIMG}} alt="zdjęcie profilowe">
    </div>
    <mat-menu #userInfo="matMenu" id="sth" [overlapTrigger]="false">
      <app-user-info (logout)="emitLogout()" (routeSwitch)="emitRouteSwitch($event)" [name]=profileName></app-user-info>
    </mat-menu>
    <mat-menu #surveyInfo="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="redirectTo('survey')">Szablony</button>
      <button mat-menu-item (click)="redirectTo('sent')">Historia</button>
    </mat-menu>
  </div>
</div>
