<div id="dialog-container">
  <div id="dialog-header">
    <span mat-dialog-title>{{data.dialogTitle}} ankiety</span>
  </div>
  <div id="dialog-main" mat-dialog-content>
    <span> Czy na pewno chcesz <span [ngClass]="data.boldWarn? 'red': 'primary'">{{data.boldContent}}</span> tę
      ankietę?</span>

  </div>
  <div id="dialog-menu" mat-dialog-actions>
    <button tabindex="-1" mat-button mat-dialog-close>Anuluj</button>
    <button mat-button color="{{data.boldWarn? 'warn': 'primary'}}" [mat-dialog-close]=true>{{data.buttonText}}</button>
  </div>
</div>
