@import './../../../../styles/colors';

:host {
  display: flex;
  flex-direction: column;
  align-content: center;
  // align-items: flex-end;
  justify-content: center;

  // background-color: $white;

  width: 100%;

  #infoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 0 10px;

    width: 160px;
    height: auto;

    img {
      display: block;
      background-clip: content-box;

      width: 100px;
      height: 100px;
      margin: 5px;

      border-radius: 100px;
      border: 4px solid $primary;
      object-fit: cover;
    }
    .break {
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      margin: 8px;
      width: 100%;
    }
    .label {
      margin: 5px;
      font-size: 0.7em;
    }

    .label.name {
      font-weight: 600;
      font-size: 0.85em;
    }

    button {
      font-weight: 700;
      line-height: 25px;
      color: $primary;
      margin: 3px;
      font-size: 0.9em;
    }
  }
}
